*{
    margin: 0;
    padding: 0;
    background-color: black;
}

.text2{
    color: white;
    position:relative;
    left: 650px;
    width: 80%;
    bottom: 650px;
}

.right{
    width: 55%;
    position: relative;
}
.left{
width: 45%;
}

.last{
    width: 50%;
}
.last1{
    width: 50%;
    position: relative;
    left: 55%;
    bottom: 160px;
}
.last2{
    width: 50%;
    position: relative;
    bottom: 130px;
}

.last3{
    width: 50%;
    position: relative;
    left: 55%;
    bottom: 290px;
}
